<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>96749376392-thq6hk4a0rel8ck6rd8vbqnb65opup0p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.96749376392-thq6hk4a0rel8ck6rd8vbqnb65opup0p</string>
	<key>API_KEY</key>
	<string>AIzaSyAzLRDv5o81mkJcFASXZFYbrLiwbLKBSWI</string>
	<key>GCM_SENDER_ID</key>
	<string>96749376392</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fancylife.FancyLifeDemo</string>
	<key>PROJECT_ID</key>
	<string>fancylife-a51d8</string>
	<key>STORAGE_BUCKET</key>
	<string>fancylife-a51d8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:96749376392:ios:ab76d4df0d5067c4bbe03d</string>
	<key>DATABASE_URL</key>
	<string>https://fancylife-a51d8.firebaseio.com</string>
</dict>
</plist>