<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>587259366307-a4pk24loa1a5emsv2b1hooh4bd9h7moe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.587259366307-a4pk24loa1a5emsv2b1hooh4bd9h7moe</string>
	<key>API_KEY</key>
	<string>AIzaSyCaH__2kp2qSYyoNr4kKOZNrnrSyehxR4A</string>
	<key>GCM_SENDER_ID</key>
	<string>587259366307</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.MySimpleTest</string>
	<key>PROJECT_ID</key>
	<string>mysimpletest-a3323</string>
	<key>STORAGE_BUCKET</key>
	<string>mysimpletest-a3323.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:587259366307:ios:da67e84853a322847a2816</string>
	<key>DATABASE_URL</key>
	<string>https://mysimpletest-a3323.firebaseio.com</string>
</dict>
</plist>